.loadButton {
  margin-top: 10px;
  padding: 10px;

  border: none;
  border-radius: 4px;

  background-color: #01d4d7;
  color: white;
  font-weight: bold;
  transition: background-color 0.2s;
}

.loadButton:hover {
  background-color: #01a8ad;
  transition-duration: 0.5s;
}

.container {
  width: fit-content;
  margin: 30px;
  padding: 20px;

  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.usersTable {
  border-collapse: collapse;
  width: 100%;
}

.usersTable th,
.usersTable td {
  padding: 8px;
  text-align: left;

  border: 1px solid #000;
}

.usersTable th {
  background-color: #f2f2f2;
}

.usersTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.usersTable tr:hover {
  background-color: #ddd;
}

.selectFilter {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 4px;
  outline: none;
}
